body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(92, 103, 168);
    display: flex;
    justify-content: left;
    align-items: center;
}

header img {
    width: 100px;
    margin: 10px;
}
/* ссылка в шапке */
#horizontal_menu .menu_item {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    margin: 10px;
}
/* активная ссылка в шапке */
#horizontal_menu .menu_active {
    color: #6495ed;
    text-decoration: none;
    transition: .3s;
    margin: 10px;
}

main {
    display: flex;    
}
/* выбор таблицы */
.div_column{
    border: none;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    background-color: #b0c4de;    
}
/* блок с результатом */
.div_result {
    border: none;
    width: 100%;
    background-color: #b0c4de; 
} 
/* вывод блока  */
.div_result div{
    display: inline-block;
    border: 1px solid black;
    margin: 3px;
    padding: 1px;
}
/* табличная верстка */
/* блочная верстка */
div.ttSingleRow, div.ttRow {
	padding: 10px;
}

/* ссылка выбора */
#vertical_menu .main-menu.a {
    color: #4d7198;
    text-decoration: none;
    padding: 10px;
}
/* активная ссылка выбора */
#vertical_menu .main-menu.selected {
    border: 1px solid black;
    color: #4d7198;
    text-decoration: underline;
    padding: 10px;
}

h2, table {
    text-align: center;
}
/* цифра-ссылка */
.num_a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

table {
    border: 1px solid #333;
    border-collapse: collapse;
    margin: 10px;
    display: inline-block;
}

table td {
    border: 1px solid #333;
    min-width: 150px;
}

.table-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: rgb(92, 103, 168);
    /* position: fixed; */
    bottom: 0;
    left: 0;        
}